.container {
  color: #fff;
  background: linear-gradient(
    135deg,
    rgba(0, 0, 0, 0.3),
    rgba(255, 255, 255, 0.3)
  );
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  padding: 0.5rem;
  position: fixed;
  width: 100%;
  z-index: 100;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  height: 3rem;
  position: relative;
  transition: all 0.3s ease;
  width: 12rem;
}

.logo_menu {
  height: 60px;
  position: relative;
  text-align: center;
  transition: all 0.3s ease;
  width: 100%;
}

.logo:hover,
.logo_menu:hover {
  transform: scale(1.05);
}

.menu_button {
  font-weight: bold;
  cursor: pointer;
}

.menu_button:hover {
  color: var(--cl2);
  text-decoration: underline;
}

.close_button_c {
  text-align: right;
  padding: 1rem 1rem 0rem 1rem;
}

.close_button {
  color: var(--cl4);
  border: none;
  background-color: transparent;
  transition: all 0.3s ease;
}

.close_button:hover,
.facebook:hover {
  transform: scale(1.05);
}

.close_icon {
  pointer-events: none;
  max-width: 1.5rem !important;
  font-size: 1rem;
}

.icon {
  max-width: 2rem;
  font-size: 2rem;
}

.menu {
  background-color: var(--cl2);
  box-shadow: rgba(0, 0, 0, 0.66) 0px 1px 4px;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
}

.menu::before {
  content: '';
  background-image: url('/images/doddle.png');
  background-size: 15rem 15rem;
  inset: 0;
  position: absolute;
  opacity: 0.1;
  z-index: -1;
}

.menu_items {
  padding: 0rem 1rem;
  height: 100%;

  display: flex;
  gap: 0;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: stretch;
}

.link {
  margin-bottom: 1.2rem;
  text-align: center;
}

.link:hover {
  color: var(--cl3);
  font-weight: 400;
}

.last_link {
  margin-bottom: 0;
}

.selected {
  color: var(--cl3);
  font-weight: bold;
  text-decoration: underline;
}

.facebook {
  color: var(--cl4);
  font-size: 0.8rem;
  margin: 0 auto;
  transition: all 0.3s ease;

  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 0.25rem;
}

.follow {
  margin-bottom: 1rem;
}

.follow_c {
  text-align: center;
}

@media screen and (min-width: 500px) {
  .container {
    padding: 0.5rem 1rem;
  }

  .logo {
    height: 3.5rem;
    width: 15rem;
  }
  .menu {
    width: 350px;
  }
}
