.container {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.header_s {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, .1) ), url(/images/bg.jpg);
    background-repeat: no-repeat;
    background-position:center center;
    background-size: cover;
    height: 100vh;
    width: 100%;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.phrase {
    max-width: 800px;
    text-transform: uppercase;
    text-align: center;
    margin: 1rem;
    font-size: clamp(2rem, 5vw, 3rem);
    font-weight: 400;
    font-family: var(--title);
}

.whatsapp {
    border-radius: .2rem;
    background-color: var(--cl2);
    padding: .5rem 2rem;
    height: 50px;
    transition: all .3s ease;
    width: 300px;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.whatsapp:hover {
    transform: scale(1.1);
}

.greeting {
    padding: var(--mg) .5rem;
    max-width: 800px;
}

.nicole_bg {
    position: relative;
    text-align: center;
}

.nicole {
    width: min(100%, 400px);  
}

.mg {
    margin-bottom: var(--mg);
}

.max_width {
    max-width: 1200px;
}

.about {
    padding: 1rem .5rem 0 .5rem;
    /* max-width: 500px; */
}

.how_info, .blog_info {
    margin-bottom: 2rem;
    padding: 0 .5rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.grid_steps {
    align-items: flex-start !important;
    gap: 1rem !important;
}

.title {
    padding: 1rem .5rem;
}

/* ------------------------------------------MEDIA QUERIES--------------------------------------------- */

@media screen and (min-width: 425px){
    .nicole_bg {
        margin-bottom: 3rem;
    }
}

@media screen and (min-width: 485px){
    .nicole_bg {
        margin-bottom: 6rem !important;
    }
}

@media screen and (min-width: 600px) {
    .greeting, .how_info, .title {
        text-align: center;
    }        

    .nicole_bg {
        margin-bottom: 3rem !important;
    }
}


@media screen and (min-width: 1200px) {
    .grid {
        gap: 2rem;
    }
     
}





